MONGODB_URI=mongodb+srv://careeruser:adminpass@jobtracker.mq8nben.mongodb.net/
MONGODB_DB_NAME=jobtracker
GOOGLE_CLIENT_ID=696567052531-2usg9lllvdvk7kjhl0tb589ic7c5m3ia.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:8000/api/auth/gmail/callback