MONGODB_URI=mongodb+srv://careeruser:adminpass@jobtracker.mq8nben.mongodb.net/
MONGODB_DB_NAME=jobtracker
GOOGLE_CLIENT_ID=696567052531-2usg9lllvdvk7kjhl0tb589ic7c5m3ia.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_REDIRECT_URI=http://localhost:8000/api/auth/gmail/callback
OPENAI_API_KEY=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
OPENAI_MODEL=gpt-4o-mini